@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --ff-body: "Outfit", sans-serif;

  --dark: #1c1e23;
  --light: #fcfcfc;
  --yellow: #e4b44c;
  --light-yellow: #edce8b;
  --dark-yellow: #55451b;
  --grey: #7c7c7c;
  --light-grey: #b4b4b4;
  --contact-fill: #d9d9d9;
  --whatsapp: #25d366;

  --fs-xl: 3rem;
  --fs-l: 2.5rem;
  --fs-700: 2rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: 0.85rem;
}

/* * {
  margin: 0;
  padding: 0;
} */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-body);
  color: var(--light);
  background: var(--dark);
  overflow-x: hidden;
  filter: none;
}

/* navbar */

.nav {
  position: sticky;
  top: -1px;
  z-index: 980;
  padding-left: 96px;
  padding-right: 96px;
  background: var(--dark);
  border-bottom: 1px solid var(--grey);
}

/* navbar >> items */
nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  grid-column-start: auto;
  justify-content: space-between;
}

/* navbar >> item */
nav li {
  height: 60px;
}

/* navbar >> text */
nav a {
  font-size: var(--fs-400);
  height: 100%;
  display: flex;
  padding: 0 30px;
  text-decoration: none;
  color: var(--light);
  font-weight: 200;
  align-items: center;
  white-space: nowrap;
}

/* navbar >> logo */
nav li:first-child {
  margin-right: auto;
}

.nav__link:hover,
.nav__link:focus-within {
  background: rgba(255, 255, 255, 0.05);
  font-weight: 500;
}

/* navbar >> sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 990;
  background: var(--dark);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* navbar >> sidebar >> item */
.sidebar li {
  width: 100%;
}

/* navbar >> sidebar >> text */
.sidebar a {
  width: 100%;
}

/* navbar >> menu button */
.menu-button {
  display: none;
}

/* navbar >> contact button */
#contact-us {
  background-color: var(--yellow);
  font-weight: 400;
  color: var(--dark);
}

#contact-us:hover,
#contact-us:focus-within {
  font-weight: 500;
  color: var(--light);
}

/* App Component */

#wrapper {
  padding: 15% 10%;
  max-width: 1400px;
  margin-inline: auto;
}

/* Pages Heading >> H1 */
.container-heading {
  text-align: center;
  padding: 84px 0;
  font-size: var(--fs-xl);
  color: var(--light);
}

/* Home page */
.homepage-container {
  display: grid;
  align-content: space-around;
  text-align: center;
  font-size: var(--fs-l);
  text-transform: none;
  min-height: 100vh;
}

/* Home page >> Button/SVG */
.homepage-container .svg-homepage {
  padding-bottom: 30%;
}

/* Service Page */

.services-container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 36px;
  row-gap: 52px;
}

/* Service Page >> Card */
.card {
  border-radius: 8px;
  background: var(--light);
  color: var(--dark);
  text-transform: none;
  height: 400px;
  overflow: hidden;
  transition: transform 500ms ease;
  padding-bottom: 6px;
}

.card:hover,
.card:focus-within {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

/* Service Page >> Card >> Image */
.card img {
  margin: 0;
  padding: 0;
  width: 600px;
  height: 330px;
  object-fit: cover;
  object-position: top 0 right 100px;
}

/* Service Page >> Card >> Content */
.card-content {
  padding: 6px 20px;
  background: var(--light);
  transform: translateY(0%);
  transition: transform 500ms ease;
}

.card:hover .card-content,
.card:focus-within .card-content {
  transform: translateY(-65%);
}

.card-content > *:not(.card-content h3) {
  opacity: 0;
  transition: 500ms linear;
}

.card:hover .card-content > *:not(.card-content h3),
.card:focus-within .card-content > *:not(.card-content h3) {
  opacity: 1;
}

.card:focus-within .card-content {
  transition-duration: 0ms;
}

/* Service Page >> Card >> Content >> Title */
.card-content h3 {
  padding-bottom: 24px;
  font-weight: 500;
  position: relative;
}

/* Service Page >> Card >> Content >> Text */
.card-content p {
  padding-bottom: 24px;
  line-height: 1.5;
  font-size: 14px;
  text-transform: none;
}

/* Service Page >> Card >> Content >> Button */
.card-content .openModal {
  display: inline-block;
  background-color: var(--yellow);
  color: var(--dark);
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
  padding: 0.5em 1.5em;
  margin-bottom: 36px;
  text-decoration: none;
  border: 1.5px solid var(--dark);
}

.card-content .openModal:hover,
.card-content .openModal:focus-within {
  scale: 1.03;
  color: var(--light);
}

.card-content .openModal:active {
  background-color: var(--dark-yellow);
}

/* Service Page >> Modal */

/* .modal-box {
  display: flex;
} */

.modal {
  padding: 2em;
  max-width: 50ch;
  max-height: 75ch;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);

  & > * {
    margin: 0 0 1rem 0;
  }
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.modal .modal-heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.modal .modal-service-text {
  max-width: 90%;
  padding-bottom: 20px;
}

.modal h3 {
  color: var(--dark-yellow);
  font-size: 20px;
  align-items: center;
}

.modal .modal-buttons {
  display: flex;
  justify-content: start;
  margin: 20px;
}

.modal .modal-buttons #modal-contact-btn {
  display: inline-block;
  padding: 16px;
  margin-right: 20px;
  background-color: var(--yellow);
  color: var(--light);
  text-decoration: none;
  font-weight: 400;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.modal .modal-buttons #modal-wpp-btn {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--whatsapp);
  color: var(--light);
  text-decoration: none;
  font-weight: 400;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.modal .modal-buttons #modal-wpp-btn svg {
  left: 0;
  padding-right: 12px;
}

.modal .modal-buttons #modal-contact-btn:hover,
.modal .modal-buttons #modal-contact-btn:focus {
  scale: 1.03;
  background-color: #a48136;
}

.modal .modal-buttons #modal-wpp-btn:hover,
.modal .modal-buttons #modal-wpp-btn:focus {
  scale: 1.03;
  background-color: #198541;
}

.modal .modal-buttons #modal-wpp-btn:active {
  background-color: #2dec73;
}

.modal .modal-buttons #modal-contact-btn:active {
  background-color: #f2be50;
}

/* Contact-us Page */

.contact-page-container {
  position: relative;
  display: flex;
  text-transform: none;
  border: 2px solid var(--contact-fill);
  max-width: 72rem;
}

.contact-info {
  display: flex;
  padding: 40px;
  flex-direction: column;
  min-width: 18rem;
}

.contact-info .message h2 {
  font-size: var(--fs-700);
  color: var(--yellow);
}

.contact-info .message p {
  font-size: var(--fs-300);
  max-width: 27rem;
  min-width: 16rem;
}

.contact-info .message h3 {
  padding-block: 30px 6px;
  font-size: var(--fs-400);
  text-transform: uppercase;
}

.contact-info .box {
  position: relative;
  padding-block: 8px;
  display: flex;
}

.contact-info .box .icon {
  min-width: 48px;
  height: 48px;
  margin-left: -12px;
  margin-top: 13px;
  display: flex;
  justify-content: center;
}

.contact-info .box .text {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-300);
  font-weight: 300;
}

.contact-info .box .text h3 {
  color: var(--yellow);
  font-size: var(--fs-400);
  font-weight: 500;
  margin-bottom: -12px;
}

.contact-form {
  min-width: 25rem;
  max-width: 35rem;
  padding: 40px;
  width: 60%;
  background: var(--contact-fill);
}

.contact-form h2 {
  font-size: var(--fs-700);
  color: var(--dark);
}

.contact-form .name-phone {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contact-form .name-phone .input-box {
  position: relative;
  width: 45%;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 18px;
}

.contact-form .input-box input,
.contact-form .input-box textarea,
.contact-form .input-box select {
  width: 100%;
  padding: 12px 0;
  font-size: var(--fs-300);
  margin-top: 12px;
  border: none;
  border-bottom: 1px solid var(--dark);
  outline: none;
  resize: none;
  background: none;
}

.contact-form .input-box textarea {
  padding: 42px 0;
}

.contact-form .input-box span {
  position: absolute;
  left: 5px;
  padding: 10px 0;
  font-size: var(--fs-400);
  margin-top: var(--margin-form);
  pointer-events: none;
  transition: 0.5s;
  color: var(--grey);
  z-index: 800;
}

.contact-form .input-box select {
  font-size: var(--fs-400);
  margin-top: var(--margin-form);
  color: var(--dark);
  z-index: 800;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span {
  color: var(--yellow);
  font-size: var(--fs-300);
  transform: translateY(-25px);
}

.contact-form .input-box input[type="submit"] {
  width: 100px;
  background: var(--yellow);
  color: var(--light);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: var(--fs-500);
}

.contact-form .input-box input[type="submit"]:hover,
.contact-form .input-box input[type="submit"]:focus {
  color: var(--dark);
}

/* Views */

@media (max-width: 1065px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }

  .nav {
    padding: 0;
  }

  .contact-page-container {
    margin-inline: auto;
    flex-direction: column;
    max-width: 30rem;
  }
}

@media (max-width: 880px) {
  :root {
    --fs-xl: 2.5rem;
    --fs-l: 2rem;
    --fs-700: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1.2rem;
    --fs-400: 1rem;
    --fs-300: 0.85rem;
  }
}

@media (max-width: 660px) {
  :root {
    --fs-xl: 2rem;
    --fs-l: 1.75rem;
  }
}

@media (max-width: 605px) {
  :root {
    --fs-xl: 1.85rem;
    --fs-l: 1.8rem;
    --fs-700: 1.6rem;
    --fs-600: 1.3rem;
    --fs-500: 1.15rem;
    --fs-400: 0.8rem;
    --fs-300: 0.75rem;
  }

  .modal {
    margin: 25% 0;
  }

  .contact-page-container {
    border: none;
  }

  .contact-form {
    min-width: 19rem;
  }

  .contact-form .name-phone {
    flex-direction: column;
  }

  .contact-form .name-phone .input-box {
    width: 100%;
  }
}

@media (max-width: 480px) {
  :root {
    --fs-xl: 1.65rem;
    --fs-l: 1.5rem;
  }

  .contact-form {
    min-width: 14rem;
    text-wrap: nowrap;
  }
}

@media (max-width: 320px) {
  :root {
    --fs-xl: 1.3rem;
    --fs-l: 1rem;
    --fs-700: 1.2rem;
    --fs-600: 0.9rem;
    --fs-500: 0.9rem;
    --fs-400: 0.8rem;
    --fs-300: 0.7rem;
  }

  .sidebar {
    width: 100%;
    height: 30%;
  }

  .homepage-container {
    min-height: 40vh;
  }

  .svg-homepage {
    display: none;
  }

  .container-heading {
    padding-bottom: 36px;
  }

  .services-container .box-container {
    row-gap: 36px;
  }

  .card {
    height: 300px;
    padding-bottom: 6px;
    width: 80%;
    /* overflow: visible; */
  }

  .card img {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 235px;
    object-fit: cover;
    object-position: top 0 right 75px;
  }

  .contact-info {
    margin-left: 10%;
    width: 100%;
  }

  .contact-info .message h2 {
    padding-bottom: 18px;
  }

  .contact-info .message p {
    max-width: 90%;
    padding-bottom: 12px;
  }

  .contact-form {
    width: 100%;
  }
}
